
    <div class="box box-info">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Discount Code</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="discountcode" placeholder="discount code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="discountname" class="col-sm-2 control-label">DiscountName</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="loadingname" placeholder="enter discount name eg. Old Age">
                    </div>

                </div>
                <div class="box-body">
                    <label class="col-sm-2 control-label">Select Risk</label>
                    <select class="col-sm-2 control-label">
                        <option>Risk 1 From DB</option>
                        <option>Risk 2 From DB</option>
                        <option>Risk 3 From DB</option>
                        <option>Risk 4 From DB</option>
                        <option>Risk 5 From DB</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="basicrate" class="col-sm-2 control-label">Basic Rate</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="basicrate" placeholder="enter basic rate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="basicvalue" class="col-sm-2 control-label">Basic Value</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="basicvalue" placeholder="else enter basic value">
                    </div>
                </div>
                <button type="submit" class="btn btn-default">View Saved Discounts</button>
                <button type="submit" class="btn btn-default">Rating Engine</button>
                <button type="submit" class="btn btn-default">Reinsurance Model</button>
                <button type="submit" class="btn btn-default">Loadings</button>
                <button type="submit" class="btn btn-default">Reinsurance Companies</button>
                <button type="submit" class="btn btn-default">Risks</button>
                <button type="submit" class="btn btn-default">Products</button>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-left">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Save Rating</button>
            </div>
        </form>
    </div>
