
<div class="box box-info">
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Reinsurance Model Code</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="reinsurancemodelcode" placeholder="reinsurance model code">
                </div>
            </div>
            <div class="box-body">
                <label class="col-sm-2 control-label">Select ReInsurance Type</label>
                <select class="col-sm-2 control-label">
                    <option>Own Retention</option>
                    <option>Treaty</option>
                    <option>Quota Share</option>
                    <option>Co Insurance</option>
                    <option>Reinsurance In</option>
                    <option>Reinsurance Out</option>
                    <option>Facultative</option>
                </select>
            </div>
            <div class="form-group">
                <label for="reinsurancemodelname" class="col-sm-2 control-label">Reinsurance Model Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="reinsurancemodelname" placeholder="enter reinsurance model name">
                </div>

            </div>
            <div class="form-group">
                <label for="reinsurancepartner" class="col-sm-2 control-label">Reinsurance Company (Partner)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="reinsurancepartner" placeholder="enter reinsurance company (partner)">
                </div>

            </div>


            <div class="form-group">
                <label for="sharepercentage" class="col-sm-2 control-label">Reinsurance Percentage (Part)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="sharepercentage" placeholder="enter reinsurance company share percentage">
                </div>
            </div>
            <div class="form-group">
                <label for="effective" class="col-sm-2 control-label">Effective Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="expiry" >
                </div>
            </div>
            <div class="form-group">
                <label for="expiry" class="col-sm-2 control-label">Expiry Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="expiry">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Saved ReInsurance Companies</button>
            <button type="submit" class="btn btn-default">Discounts</button>
            <button type="submit" class="btn btn-default">Reinsurance Model</button>
            <button type="submit" class="btn btn-default">Loadings</button>
            <button type="submit" class="btn btn-default">Ratings</button>
            <button type="submit" class="btn btn-default">Risks</button>
            <button type="submit" class="btn btn-default">Products</button>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-left">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">Save Rating</button>
        </div>
    </form>
</div>
